/* HTML5 RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
body {line-height: 1;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
nav ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}
a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
ins {background-color: #ff9; color: #000; text-decoration: none;}
mark {background-color: #ff9; color: #000; font-style: italic; font-weight: bold;}
del {text-decoration: line-through;}
abbr[title], dfn[title] {border-bottom: 1px dotted; cursor: help;}
table {border-collapse: collapse; border-spacing: 0;}
hr {display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0;}
input, select {vertical-align:middle;}
/* HTML5 RESET */



/* BEGIN ALGEMEEN */
body {margin: 0; min-width: 980px; padding: 0; color: #ffffff; font-family: 'Actor', sans-serif; font-weight: normal; font-style: normal;}
.textCenter {text-align: center;}

a {}
h1 {text-shadow: 2px 2px #000000;}
h2 {text-shadow: 2px 2px #000000;}
h3 {}
p {font-size: 14px; line-height: 150%; text-shadow: 2px 2px #000000;}
/* EINDE ALGEMEEN */



/* BEGIN NAVIGATIE */
#header {position: fixed; left: 0px; top: 50px; width: 250px;}

#logo {margin: 0px 0px 45px 15px;}

#nav {list-style: none; margin: 0px; padding: 0px;}
#nav li {margin-top: 10px; font-size: 20px; font-weight: normal;}
#nav li:first-child {margin-top: 0px;}
#nav li a {color: #f33e19; background: url('../gfx/bg-menu.png') 0px -57px repeat-x; height: 17px; padding: 14px 30px 16px 50px; display: inline-block; border-top-right-radius: 23px; border-bottom-right-radius: 23px; text-decoration: none;}
#nav li a:hover {background-position: 0px 0px; color: #ffffff;}
#nav li.active a {background-position: 0px 0px; color: #ffffff;}

#osIcons {margin: 45px 0px 0px 15px;}
/* EINDE NAVIGATIE */



/* BEGIN PAGINA */
.page {-webkit-background-size: cover !important; -moz-background-size: cover !important; -o-background-size: cover !important; background-size: cover !important; margin: 0 auto; padding: 0; min-height: 700px;}

#first {background: url('../img/firstBG.jpg') 50% 0 no-repeat fixed;}
#second {background: url('../img/secondBG.jpg') 50% 0 no-repeat fixed;}
#third {background: url('../img/thirdBG.jpg') 50% 0 no-repeat fixed;}
#fourth {background: url('../img/fourthBG.jpg') 50% 0 no-repeat fixed;}
#fifth {background: #ccc;}
#sixth {background: url('../img/thirdBG.jpg') 50% 0 no-repeat fixed;}

.content {margin: 0px auto; min-width: 980px; width: 980px; height: 100%; padding: 50px 0px 0px 0px;}
.story {margin: 0px; padding: 20px 20px; background: rgba(0,0,0,0.3); height: 100%; border-radius: 23px; -moz-border-radius: 23px;}
/* EINDE PAGINA */


#first #intro {margin: 0px 0px 50px 0px; padding: 25px 0px; text-align: center; border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff;}
#first h1 {font-size: 60px;}
#first h2 {font-size: 36px; margin: 15px 0px 0px 0px;}
#first p {width: 600px; margin: 0 auto; text-align: center;}